.column {
    float: left;
    width: 10%;
	outline-style: solid;
	text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
	padding: 5px;
}

h1 {
	color: black;

}
h1 span {
	background-color: ;
}

body {
	background-color: white;
}

.course {

/* probably throw away when electron ribbon implemented*/

}
a {
	text-decoration: none;
	color: #D83F87;
}

a:link {

}

a:visited {

}

a:hover {
	
}

a:active {

}

ul {
	list-style: none;
}

.nav {

}
.nav:hover {
		font-size: large;
}

/*creates scrollable table elements.  Needs thead and tbody specified in html.*/

table.tableSection {
    display: table;
    width: 100%;
}
table.tableSection thead, table.tableSection tbody {
    float: left;
    width: 100%;
}
table.tableSection tbody {
    overflow: auto;
    height: 150px;
}
table.tableSection tr {
    width: 100%;
    display: table;
    text-align: left;
}
table.tableSection th, table.tableSection td {
    width: 33%;
}





